<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Dashboard</title>
        <meta charset="UTF-8">
        <!-- <link href="/Users/gabe/Desktop/server/index.css" rel="stylesheet"> -->
    </head>


    <body>
        <h1>The New Athlete: Dashboard</h1>
        <h2>Hello <%= user %></h2>
        <!-- <a href="dashboard/logout">Logout</a> -->

    </body>

    <!-- <script src="app.js"></script> -->

</html>