<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Sign Up</title>
        <meta charset="UTF-8">
        <link href="./homepage.css" rel="stylesheet">
    </head>


    <body>
        <div class="box" id="AthleteBox">
              <h1>The New Athlete</h1>
              <button class="sign-up-button" onclick="openSignUp()">Sign Up</button>
              <button class="login-button" onclick="openLogin()">Login</button>
        </div>


    
    <!-- ************* SIGN UP FORM ************* -->
    <div class="form-popup-signup" id="SignUpForm">
        <button class="close-button" onclick="closeSignUp()" style="float: right;"> X </button>
        <h1 class="signup-title">Register: New Athlete</h1>
        <form class="signup-form-container" action='/homepage/signup' method="POST" target="_self">
            <label for="user_fname">First Name: </label>
            <input type="text" name="user_fname" placeholder="Your First Name..." required>

            <label for="user_lname">Last Name: </label> 
            <input type="text" name="user_lname", placeholder="Your Last Name..." required>

            <label for="user_email">Email address:  </label> 
            <input type="text" name="user_email" placeholder="newathlete@gmail.com" required> 

            <label for="password">Password: </label> 
            <input type="password" name="password" placeholder="Enter Password..." required>

            <label for="password2">Confirm Password: </label> 
            <input type="password" name="password2" placeholder="Re-enter Password..." required><br> <br>

            <button type="submit" class="register-btn">Register</button><br>
            <!-- <button type="close-button" class="btn cancel" onclick="closeSignUp()">Close</button> -->
        </form>
    </div>



    <!-- ************* LOGIN FORM ************* -->
    <div class="form-popup-login" id="LoginForm">
        <button class="close-button" onclick="closeLogin()" style="float: right;"> X </button>
        <h1 class="login-title">Login: Existing Athlete</h1>
        <form class="login-form-container" action='/homepage/login' method="GET" target="_self">
            <label for="user_email">User Email: </label>
            <input type="text" name="user_email" placeholder="Your Email..." required>

            <label for="user_password">Password: </label>
            <input type="text" name="user_password" placeholder="Your Password..." required> <br><br>

            <button type="submit" class="login-btn">Login</button><br>
            <!-- <button type="close-button" class="btn cancel" onclick="closeSignUp()">Close</button> -->
        </form>
    </div>

    </body>

    <script src="app.js"></script>

</html>