<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Sign Up</title>
        <meta charset="UTF-8">
        <link href="/css/homepage.css" rel="stylesheet">
    </head>


    <body>
        <%- messages('my_message_template.ejs', locals) %>

        <div class="box" id="AthleteBox">
            <p class="title">The New Athlete</p>
            <div class="button-box">
                <form class="register-form" action="/register">
                    <button class="sign-up-button" type="submit">Register</button>
                </form>
                <form class="login-form" action="/login">
                    <button class="login-button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>

    <script src="/dynamic/views.js"></script>

</html>