<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Sign Up</title>
        <meta charset="UTF-8">
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/my_message_template.css" rel="stylesheet">
    </head>

 
    <body>
     
        <%- messages('my_message_template.ejs', locals) %>
        
        <!-- ************* LOGIN FORM ************* -->
        <div class="form-popup-login" id="LoginForm">
            <form action="/homepage">
                <button class="close-button" style="float: right;"> X </button>
            </form>
            <h1 class="login-title">Login: Existing Athlete</h1>
            <form class="login-form-container" action='/login' method="POST" target="_self">
                <label for="user_email">User Email: </label>
                <input type="text" name="user_email" placeholder="Your Email..." required>

                <label for="user_password">Password: </label>
                <input type="password" name="user_password" placeholder="Your Password..." required> <br><br>

                <button type="submit" class="login-btn">Login</button><br>
                <!-- <button type="close-button" class="btn cancel" onclick="closeSignUp()">Close</button> -->
            </form>
        </div>

    </body>

    <script src="/views.js"></script>

</html>