/* Possible Fonts:
    - univers font */

* {
    border: 1px solid purple;
    margin: 0px;
    border-radius: 3px;
}

body{
    background-color: rgb(22, 21, 21);
    color: #fffff8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 320;
}


.grid-container{
    display: grid;
    grid-template-columns: 22% repeat(4, 1fr) 20%; 
    grid-template-rows: 65px repeat(4, auto);
    grid-template-areas: 
        'nav  nav nav nav nav nav'
        'menu box box box box bar'
        'menu box box box box bar'
        'menu box box box box bar'
        'menu box box box box bar';
    grid-gap: 10px;

    height: 99vh;
    width: 100%;
}



/* ********** NAVIGATION BAR ********** */
.navigation{
    grid-area: nav;
    display: grid;
    grid-template-columns: 25% 27.5% 27.5% 20%;
    grid-template-rows: 65px;
    grid-template-areas: 
        'logo mydash comm acct';
}
    .navigation > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        grid-area: logo;
        /* height:50%;
        width: 50%; */


        font-weight: 550;
        font-size: 25px;
    }
        .logo > img {
            width: 95%;
            height: 90%;
            object-fit: cover; 
            margin: auto;
            display: block;
        }

    .my-dashboard{
        grid-area: mydash;
        font-weight: 320;
        font-size: 25px;
    }

    .community{
        grid-area: comm;
        font-weight: 320;
        font-size: 25px;
    }

    .account-info{
        display: flex;
        grid-area: acct;
        font-weight: 320;
        font-size: 18px;
    }

    #account-info-manage-account{
        cursor: pointer;
        color: white;
        margin-top: 1px;
        width: auto;
        text-decoration: none;

        transition: transform .2s;
    }

    #account-info-manage-account:hover{
        color: white;
        transform: scale(1.02);
    }
 
    /* #manage-account-menu{
        display: none;
        width: 150px;
        height: auto;
        background-color: rgb(22, 21, 21);
        z-index: 1;
    }

    #manage-account-menu > a{
        border: none;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
        text-decoration: none;
    } */
    
/* ************************************* */





/* ********** DASHBOARD MENU [LEFT] ********** */
.dash-menu{
    grid-area: menu;
    margin-left: 10px;
    margin-bottom: 10px;
}
    .dash-menu-header{
        text-align: center; 
        margin: 10px;
        padding: 4px;
        font-size: 25px;
    }

    .dash-menu-tabs-box{
        margin-top: 34px;
        margin-left: 5px;
        margin-right: 5px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        border-spacing: 8px;
        line-height: 40px;
    }
        .dash-menu-tabs-box > a{
            width: 92%;
            margin-top: 6px;
            margin-left: 8px;
            font-size: 18px;
            color: white;

            cursor: pointer;
            text-decoration: none;
            transition: transform .2s;
        }

        .dash-menu-tabs-box > a:hover{
            transform: scale(1.05);
        }
            .dash-menu-tabs-box-text{
                padding-left: 8px;
            }

/* ******************************************* */




/* ********** SELECTION BOX [middle] ********** */
.select-box{
    grid-area: box;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
    .select-box-title{
        align-self: left;
        margin-top: 6px;
        margin-left: 10px;
        width: 38%;
        height: 55px;

        font-size: 30px;

        display:flex;
        align-items: center;
    }
        #select-box-title-text{
            margin-left: 8px;
        }
    .select-box-main-dynamic{
        height: 85%;
        width: 97%;
        margin-left: 10px;
        margin-top: 8px;
    }



    /* *************    My-Stats   ************** */
        .select-box-main-dynamic-my-stats{
            position: relative;
            height: 100%;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }

        .track-new-exercise-button {
            position: absolute;
            bottom: 5%;
            right: 5%;

            width: 200px;
            /* width: 30%; */
            height: 6%;

            border-radius: 4px;
            background: linear-gradient(to right, #dd1ddd, #3f3b3b);
            border: none;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            /* padding: 20px; */
            
            transition: all 0.4s;
            cursor: pointer;
          }
            .track-new-exercise-button > span {
                border: none;
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.4s;
                margin-top: 4px;
            }
            .track-new-exercise-button > span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
            .track-new-exercise-button:hover > span {
                padding-right: 25px;
            }
            .track-new-exercise-button:hover > span:after {
                opacity: 1;
                right: 0;
            }
    /* *********************************** */






   /* *************    My-Workouts   ************** */
    .select-box-main-dynamic-my-workouts{
        height: 100%;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

        .workout-carousel{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            width: 60%;
            height: 97%;

            margin: 3px;

        }
            .workout-carousel-title{
                width: 95%;
                height: 5%;
                text-align: center;
                padding-top: 4px;
                margin-top: 2px;
            }

            .workout-carousel-content{
                margin-top: 4px;

                width: 95%;
                height: 93%;
            }
                /* .tracked-workouts > pre{
                    margin-top: 10px;

                    font-weight: 220;
                    font-size: 15px;
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    
                } */
                .tracked-workouts > label{
                    margin-top: 10px;
                    font-size: 15px;
                    padding-left: 5px;

                    width: 100%;
                }

                .my-workout-checkbox{
                    float: right;
                    margin-right: 5px;
                    margin-top: 1px;
                }





        .add-new-workout{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            width: 35%;
            height: 97%;

            margin: 3px;
        }



    /* Button to create a new workout */
    /* .track-new-workout-button {
        position: absolute;
        bottom: 5%;
        right: 5%;

        width: 200px;
        height: 6%;

        border-radius: 4px;
        background: linear-gradient(to right, #dd1ddd, #3f3b3b);
        border: none;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        
        transition: all 0.4s;
        cursor: pointer;
    }
        .track-new-workout-button > span {
            border: none;
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
            margin-top: 4px;
        }
        .track-new-workout-button > span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        .track-new-workout-button:hover > span {
            padding-right: 25px;
        }
        .track-new-workout-button:hover > span:after {
            opacity: 1;
            right: 0;
        } */
/* *********************************** */



        

    /* *********************************** */
    /* *********************************** */
    /* *********************************** */

/* ******************************************** */




.game-bar{
    grid-area: bar;
    margin-right: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
    .progression-box{
        height: 8%;
        width: 85%;
        margin-top: 10px;

        text-align: center;
    }
        #progression-box-text{
            padding: 4px;
            margin: 4px;
            font-size: 25px;
        }
    .icon-box{
        height: 20%;
        width: 75%;
        margin-top: 15px;
    }
    .level-bar{
        height: 8%;
        width: 87%;
        margin-top: 15px;
    }
    .game-bar-profile-stats{
        height: 60%;
        width: 87%;
        margin-top: 15px;
        margin-bottom: 8px;
    }
