/* Possible Fonts:
    - univers font */

    * {
        border: 1px solid purple;
        margin: 0px;
        border-radius: 3px;
    }
    
    body{
        background-color: rgb(22, 21, 21);
        color: #fffff8;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 320;
    }
    
    
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr) 18%; 
        grid-template-rows: 60px repeat(4, auto);
        grid-template-areas: 
            'nav  nav  nav  nav  nav  nav'
            'dash dash dash dash dash bar'
            'dash dash dash dash dash bar'
            'dash dash dash dash dash bar'
            'dash dash dash dash dash bar';
        grid-gap: 10px;
    
        height: 99vh;
        width: 100%;
    }
    
    
    
    /* ********** NAVIGATION BAR ********** */
    /* in the partials folder */
    /* ************************************* */
    
    
    
    


    /* ********** Main Dashboard [MIDDLE] ********** */
    .main-dash{
        grid-area: dash;
        margin-bottom: 10px;
        margin-left: 10px;
    }
        .main-dash-title{
            margin-top: 6px;
            margin-left: 10px;
            width: 30%;
            height: 50px;
    
            font-size: 30px;
    
            display:flex;
            align-items: center;
        }
            #main-dash-title-text{
                margin-left: 8px;
            }
        
        
        .main-dash-dynamic{
            height: 88%;
            width: 98%;

            margin-top: 10px;
            margin-left: 10px;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

            /* *** MY WORKOUTS  *** */
            /* Left Side */
                /* List of all workouts */
            .main-dash-dynamic-workout-list{
                width: 28%;
                height: 100%;

                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
                #all-workouts-from-workout-list{
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    border: 1px solid red;
                    margin: 10px;
                    width: 80%;
                    height: 90%;
                }
                    .main-dash-dynamic-workout-box{
                        margin: 15px;
                        border: 1px solid red;

                        width: 80%;
                        height: 45px;
                        text-align: center;
                    }
                    .main-dash-dynamic-workout-box:hover{
                        cursor: pointer;
                        transition: transform .2s;
                        transform: scale(1.05);
                    }



            /* Right Side */
            .main-dash-dynamic-workout-stats{
                width: 72%;
                height: 100%;
   
            }
                .main-dash-dynamic-workout-stats-upper{
                    height: 8%;
                    width: 70%;

                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }
                    .main-dash-dynamic-workout-stats-title{
                        width: 70%;
                        height: 100%;

                        display:flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    #add-new-workout-button{
                        width: 8%;
                        height: 90%;

                        margin-left: 8px;
                        text-align: center;

                        font-size: 30px;
                    }
                    #add-new-workout-button:hover{
                        width: 8%;
                        height: 90%;

                        margin-left: 8px;
                        text-align: center;

                        font-size: 30px;
                        cursor: pointer;
                        transition: transform .2s;
                        transform: scale(1.05);
                    }
                    #add-workout-form-container{
                        display: none;
                        position: absolute;
                        bottom: 45%;
                        right: 40%;
        
        
                        background-color: black;
        
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        height: 35%;
                        width: 50%;
        
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        font-weight: 320;
                    }
        
                        #add-workout-form{
                            height: 90%;
                            width: 90%;
        
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            margin-top: 5px;
                        } 
        
                        #add-workout-form input[type=text]{
                            width: 90%;
                            height: 5%;
                            margin-top: 3px;
                            margin-bottom: 10px;
                            padding: 9px;
                            border-radius: 5px;
                        }
        
                        #add-workout-form input[type=text]:focus{
                            background-color: #ddd;
                            outline: none;
                            width: 95%;
                            height: 6%;
                        }
                        #add-workout-form-button{
                            height: 10%;
                            width: 15%;
                            cursor: pointer;
                            border-radius: 5px;
                        }

                #workout-table{
                    width: 98%;
                    border-collapse: collapse;
                    margin-top: 8px;
                }
                    th, td{
                        text-align: left;
                        padding: 6px;
                        border-collapse: collapse;
                        border-color: none;
                    }
                    .done{
                        cursor: pointer;
                        text-align: center;
                    }
                    tr:nth-child(odd){
                        background-color: rgb(48, 51, 51);
                    }

                .current-workout-stats{
                    height: 20%;
                    width: 98%;
                    margin-top: 10px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                    #completion-bar{
                        text-align: center;
                        height: 30%;
                        width: 50%;
                    }


                .my-workout-buttons{
                    height:10%;
                    width: 90%;
                    
                    margin-top: 10px;
                    margin-left: 20px;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                }
                    .my-workout-buttons > a{
                        padding: 8px;
                        margin: 2px;
                        cursor: pointer;
                    }
                    #add-new-exercise:hover{
                        cursor: pointer;
                        transition: transform .2s;
                        transform: scale(1.05);
                    }
                    #delete-workout:hover{
                        cursor: pointer;
                        transition: transform .2s;
                        transform: scale(1.05);
                    }
                    #complete-session:hover{
                        cursor: pointer;
                        transition: transform .2s;
                        transform: scale(1.05);
                    }



            /* Adding a new Exercise to workout */
            /* Add new exercise form */
            #add-exercise-form-container{
                display: none;
                position: absolute;
                bottom: 45%;
                right: 40%;


                background-color: black;

                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 35%;
                width: 50%;

                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 320;
            }

                #add-exercise-form{
                    height: 90%;
                    width: 90%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    margin-top: 5px;
                } 

                #add-exercise-form input[type=text]{
                    width: 90%;
                    height: 5%;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    padding: 9px;
                    border-radius: 5px;
                }

                #add-exercise-form input[type=text]:focus{
                    background-color: #ddd;
                    outline: none;
                    width: 95%;
                    height: 6%;
                }
                #add-exercise-form-button{
                    height: 10%;
                    width: 15%;
                    cursor: pointer;
                    border-radius: 5px;
                }
                    .ui-front{
                        position: absolute;
                        background-color: black;
                        z-index: 6;
                        cursor: pointer;
                    }
                    .ui-autocomplete{
                        list-style-type: none;
                        padding-left: 10px;
                        margin-top: 2px;
                    }
            /* Add new exercise form */

    /* ******************************************** */
    
    
    


    /* ********** PROGRESSION BAR ********** */
    .game-bar{
        grid-area: bar;
        margin-right: 10px;
        margin-bottom: 10px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .progression-box{
            height: 8%;
            width: 85%;
            margin-top: 10px;
    
            text-align: center;
        }
            #progression-box-text{
                padding: 4px;
                margin: 4px;
                font-size: 25px;
            }
        .icon-box{
            height: 20%;
            width: 75%;
            margin-top: 15px;
        }
        .level-bar{
            height: 8%;
            width: 87%;
            margin-top: 15px;
        }
        .game-bar-profile-stats{
            height: 60%;
            width: 87%;
            margin-top: 15px;
            margin-bottom: 8px;
        }
    /* ******************************************** */